/**
 * basic styles for the javascript sandbox console - joss crowcroft
 *
 * http://josscrowcroft.github.com/javascript-sandbox-console/
 */

* { 
	margin: 5px;
}

html,
body { 
	height: 98%;
}

#main {
	min-height: 98%;
	height: auto;
	height: 98%;
	margin: 0 auto -5px;
}

.stomp,
.stomp pre.output,
.stomp pre.output span,
.stomp textarea,
.stomp textarea:focus,
#sandbox,
#sandbox pre.output,
#sandbox pre.output span,
#sandbox textarea,
#sandbox textarea:focus {
	font-size:8px;
	line-height:1;
	font-weight: normal;
	font-family:"Consolas", "Andale Mono", "Courier New", "Courier", monospace;
	border:0 none;
	outline:0 none;
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
	        box-shadow:none;
}

.stomp,
#sandbox {
	background:#333;
	color: #ccc;
	background: #333;
	padding:20px 20px 15px;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
}

.stomp {
	width: 96%;
	height: 65%;
}

#sandbox {
	width: 96%;
	height: 25%;
}

.stomp pre.output,
#sandbox pre.output {
	display:block;
	white-space:pre;
	overflow-y:auto;
	position:relative;
	padding:0;
	margin:0 0 10px;
	border:0 none;
}

.stomp pre.output {
	height: 95%;
}

#sandbox pre.output {
	height: 85%;
	width: 100%;
}

.stomp pre.output span,
#sandbox pre.output span           { color:#f7f7f7; }
.stomp pre.output span.command,
#sandbox pre.output span.command   { color:#ccc; }
.stomp pre.output span.prefix,
#sandbox pre.output span.prefix    { color:#777; }
.stomp pre.output span.undefined,
#sandbox pre.output span.undefined { color:#777; }
.stomp pre.output span.string,
#sandbox pre.output span.string    { color:#99f; }
.stomp pre.output span.number,
#sandbox pre.output span.number    { color:#7f7; }
.stomp pre.output span.error,
#sandbox pre.output span.error     { color:#f77; }

.stomp .input,
#sandbox .input {
	padding:0 0 0 15px;
	position:relative;
}
.stomp .input:before,
#sandbox .input:before {
	content:">";
	position:absolute;
	top: 1px;
	left: 0;
	color:#ddd
}
.stomp textarea,
#sandbox textarea {
	color:#f7f7f7;
	background:#333;
	border:0 none;
	outline:0 none;
	padding:0;
	margin:0;
	resize: none;
	width:100%;
	overflow:hidden;
}
.stomp textarea:focus,
#sandbox textarea:focus {
	outline:0 none;
}

.stomp pre.output::-webkit-scrollbar,
.stomp pre.output::-webkit-scrollbar-button,
.stomp pre.output::-webkit-scrollbar-track,
.stomp pre.output::-webkit-scrollbar-track-piece,
.stomp pre.output::-webkit-scrollbar-thumb,
.stomp pre.output::-webkit-scrollbar-corner,
.stomp pre.output::-webkit-resizer,
#sandbox pre.output::-webkit-scrollbar,
#sandbox pre.output::-webkit-scrollbar-button,
#sandbox pre.output::-webkit-scrollbar-track,
#sandbox pre.output::-webkit-scrollbar-track-piece,
#sandbox pre.output::-webkit-scrollbar-thumb,
#sandbox pre.output::-webkit-scrollbar-corner,
#sandbox pre.output::-webkit-resizer {
	background: transparent;
}
.stomp pre.output::-webkit-scrollbar,
#sandbox pre.output::-webkit-scrollbar {
	width:  7px;
	height: 7px;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
}
.stomp pre.output::-webkit-scrollbar-track-piece,
#sandbox pre.output::-webkit-scrollbar-track-piece {
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}
.stomp pre.output::-webkit-scrollbar-thumb,
#sandbox pre.output::-webkit-scrollbar-thumb {
	background: #4f4f4f;
	        border-radius: 5px;
}
.stomp pre.output::-webkit-scrollbar-button
#sandbox pre.output::-webkit-scrollbar-button {
	width:0;
	height:0;
}
