<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>STOMP client sandbox console</title>

        <!-- Stylesheet -->
        <link href="sandbox.css" rel="stylesheet"/>

    </head>
    <body>
        <div id="main">
            <div id="stomp" class="stomp">
                <pre class="output" id="stomp_output"></pre>
            </div>
            <div id="sandbox">sandbox console loading...</div>
        </div>

        <!-- Templates -->
        <!-- The sandbox template: -->
        <script type="text/template" id="tplSandbox">
            <pre class="output"></pre>
            <div class="input">
                <textarea rows="1" placeholder="<%= placeholder %>"></textarea>
            </div>
        </script>

        <!-- The command/result template (NB whitespace/line breaks matter inside <pre> tag): -->
        <script type="text/template" id="tplCommand"><% if (! _hidden) { %><span class="command"><%= command %></span>
    <span class="prefix"><%= this.resultPrefix %></span><span class="<%= _class %>"><%= result %></span>
    <% } %></script>

        <!-- Scripts -->
        <!-- Underscore, Backbone, backbone-localStorage, jQuery -->
        <script src="libs/underscore.min.js"></script>
        <script src="libs/backbone.min.js"></script>
        <script src="libs/backbone-localStorage.min.js"></script>
        <script src="libs/jquery.min.js"></script>

        <!-- The JS Sandbox Console script (requires underscore, backbone and jquery): -->
        <script src="sandbox-console.js"></script>

        <!-- When ready, create the model and view -->
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                // Create the sandbox:
                window.sandbox = new Sandbox.View({
                    el : $('#sandbox'),
                    model : new Sandbox.Model({
                        iframe : false, // evaluate commands inside a hidden iframe (default: false)
                        fallback : true // use global eval if iframe isn't available (default: true)
                    }),
                    placeholder : '// :help for more info',
                    resultPrefix : '>',
                    tabCharacter : '',
                    helpText : 'Usage:\n - :log <uuid> - Display last 100 lines log from selected device\n - :connect <login> <password> - Connect to broker\n - :disconnect - Disconnect from broker, if has been connected\n - :set_all <uuid> <update> <periodic> - Set specified update and periodic for all sensors on selected device\n - :set <uuid> <sensor> <update> <periodic> - Set specified update and periodic for selected sensor on selected device\n - :get <uuid> <sensor> - Get update and periodic for selected sensor on selected device\n - :update <uuid> <sensor> - Update value from selected sensor on selected device'
                });
                sandbox.model.load('libs/stilts-stomp.js');
                sandbox.model.load('stomp-client.js');
            });
        </script>

    </body>
</html>
